.container {
  width: 700px;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%, -50%);
  position: relative;

  margin-left: 63%;

  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  margin-right: 650px;
}
.container:hover {
  box-shadow: 1px 1px 8px 0px #2d8aed;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #1c093c;
  font-weight: 500;
}

form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 30px;
  margin-left: 0px;
  margin-bottom: 20px;
}

label {
  color: #1c093c;
  font-size: 16px;
}

input {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
}
input {
  border-color: #d1d0f2;
}
.row input:focus {
  outline: none;
  border-color: #d1d0f2;
  box-shadow: 1px 1px 1px 0px #2d8aed;
}

.savebtn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.savebtn button {
  border: none;
  padding: 10px 20px;
  background: #0d6efd;
  border-radius: 15px;
  width: 400px;
  font-size: 16px;
  color: #ffff;
}

.savebtn button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 8px 0px #0d6efd;
}
.showPasswordButton {
  color: black;
  padding: 5px;
  margin-top: 15px;
  border: none;
}
